@use "../../global/scss-variables" as *;

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 30px;
}

.header--layout {
  padding-inline: 10px;

  @media #{$media-small-breakpoint} {
    padding-inline: 20px;
  }
  @media #{$media-large-breakpoint} {
    padding-inline: 40px;
  }
  @media #{$media-x-large-breakpoint} {
    padding-inline: 80px;
  }
}
