@use "../../global/scss-variables" as *;

.parallax {
  display: none;
  @media #{$media-medium-breakpoint} {
    display: block;
  }
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  max-height: 1228px;
  mask-image: linear-gradient(to bottom, transparent 0%, black 40%, black 70%, transparent 100%);
}

.parallax__layer-1 {
  height: 100%;
  transform: translate3d(0, -20%, 0);
}

.parallax__bg-1 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url(/img/parallax__bg-1-1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 1113px;
  mask-image: linear-gradient(135deg, transparent 0%, black 100%, black 0%, transparent 100%);
}

.parallax__layer-2 {
  height: 100%;
  transform: translate3d(0, -70%, 0);
}

.parallax__bg-2 {
  position: relative;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url(/img/parallax__bg-2-1x.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 1422px;
}

.parallax__layer-3 {
  height: 100%;
  transform: translate3d(0, -140%, 0);
}

.parallax__bg-3 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: url(/img/parallax__bg-3-1x.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 926px;
}
